$first-width: 500px;

$col-width: 33.3%;

$blck-1-c: #f3f3ef;
$blck-2-c: #ccc5c5;
$blck-3-c: #e4e4e8;

@mixin flex($margin) {
  display: flex;
  margin: 0 $margin;
}

@mixin col($padding, $top) {
  margin-top: $top;
  padding: 0 $padding;
  width: $col-width;
}

$s: 300px;
$m: 540px;
$l: 960px;
$xl: 1280px;

body {
	background: $color;

  @include breakpoint($s) {
    // background: yellow;
  }

  @include breakpoint($m) {
    // background: blue;
  }

  @include breakpoint($l) {
    // background: red;
  }

  @include breakpoint($xl) {
    // background: green;
  }
}

#content {
  @include flex(10px);
  width: $first-width;

  .block {
    @include col(10px, 50px);
  }

  .block1 {
    border: 1px solid #ccc;
    color: #fff;
    background: $blck-1-c;
  }

  .block2 {
    @extend .block1;
    background: $blck-2-c;
  }

  .block3 {
    @extend .block1;
    background: $blck-3-c;
  }
}

.container {
  width: 100%;

  article {
    float: left;
    width: 600px /960px * 100%;
  }

  aside {
    float: right;
    width: 300px/960px * 100%;
  }
}
.page_common {
  padding-left: 1rem;
    padding-right: 1rem;
    width: 75%;
    margin-left: 12.5%;
}
.page {
    padding-top: 10rem;
}
.product {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  // align-items: stretch;
  padding: 0 1rem;
}
.product .product_data_wrapper {
    width: 33.3333333333%;
    margin-left: 8.3333333333%;
    margin-right: 8.3333333333%;;
}

.product .product_images {
    border: 1px solid blue;
    width: 50%;
    display: block;
}

.product_data .title_and_color .title .another_variants {
    display: none;
}

.page .product_data .acc_item .title .varr_icon {
    display: block;
    width: 10px;
    height: 24px;
    margin-left: 0.5rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: auto;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.product_data .acc_item .title .varr_icon {
  display: none;
}
.product_data .sizes_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}